{% comment %}
  TODO:
  - Newsletter sign up
  - Social media links
  - CC icons
  - Copyright date
  - Powered by link
  - Theme credits
{% endcomment %}

{%- if section.blocks.size > 0 -%}
<section class="footer-content">
  <div class="container">

    {%- for block in section.blocks -%}
      {%- if block.type == 'area' -%}
      <div class="footer-area">
        {% include 'footer_area_heading' %}
        {% include 'footer_area_text' %}
        {% include 'footer_area_image' %}
        {% include 'footer_area_linklist' %}
        {% include 'footer_area_blog' %}
        {% include 'footer_area_newsletter' %}
        {% include 'footer_area_social_links' %}
        {% include 'footer_area_payment_icons' %}
      </div>
      {%- endif -%}
    {%- endfor -%}

  </div>
</section>
{%- endif -%}

<section class="footer-credits">
  <div class="container">
  </div>
</section>

{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "max_blocks": 6,
  "settings": [
    {
      "type": "header",
      "content": "Recent article list"
    },
    {
      "type": "select",
      "id": "blog_list_limit",
      "label": "Number of articles to show",
      "options": [
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" },
        { "value": "6", "label": "6" }
      ],
      "default": "5"
    },
    {
      "type": "checkbox",
      "id": "show_blog_list_excerpt",
      "label": "Show articles excerpt"
    }
  ],
  "blocks": [
    {
      "type": "area",
      "name": "Area",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Newsletter"
        },
        {
          "type": "checkbox",
          "id": "newsletter_form",
          "label": "Show newsletter sign up form",
          "info": "Find the newsletter form settings under the newsletter tab of the theme settings",
          "default": false
        },
        {
          "type": "header",
          "content": "Link lists"
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Navigation list"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Recent article list"
        },
        {
          "type": "checkbox",
          "id": "social_links",
          "label": "Show social media links",
          "info": "Add your social links under the social tab of the theme settings",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "payment_icons",
          "label": "Show payment icons",
          "info": "Show credit card and other payment icons based on your payment gateway settings",
          "default": false
        },
        {
          "type": "header",
          "content": "Images"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Image link"
        },
        {
          "type": "text",
          "id": "image_caption",
          "label": "Image caption"
        }
      ]
    }
  ]
}
{% endschema %}
