<section class="footer-content">
  
</section>

<section class="footer-credits">
  
</section>

{% schema %}
{
  "name": "footer",
  "class": "footer",
  "max_blocks": 6,
  "settings": [
    
  ],
  "blocks": [
    
  ]
}
{% endschema %}